@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .bg-sunset {
      background: linear-gradient(to right, #923993, #50D8D7);
    }
    .bg-footer {
      background: linear-gradient(0deg, rgba(101,115,135,1) 0%, rgba(31,41,55,1) 100%);
    }
    .bg-header{
      background:linear-gradient(0deg, rgba(31, 41, 55, 1) 0%, rgb(47, 55, 65) 100%);
    }
    .fade-in-enter {
      opacity: 0;
    }
    
    .fade-in-enter-active {
      opacity: 1;
      transition: opacity 500ms;
    }
    
    .fade-in-exit {
      opacity: 1;
    }
    
    .fade-in-exit-active {
      opacity: 0;
      transition: opacity 500ms;
    }
    html {
      scroll-behavior: smooth;
    }
    
  }
  
/* Custom background class */
.bg-wow-stone-texture {
  background-image: url('/images/dark-stone-texture.png'); /* Adjust path if needed, relative to public folder */
  background-repeat: repeat;
  background-color: #1a1a1a; /* Fallback color if image doesn't load or while it's loading */
}

/* You might also want to set a default body text color if most of your pages are dark */
body {
  /* background-color: #1a1a1a; /* Or your main background texture if it's site-wide */
  /* color: #e0e0e0; /* A light default text color */
}
